<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Konvolucio.MCAN120803.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="Konvolucio.CanMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Konvolucio.MCAN120803.GUI.Properties.Settings>
			<setting name="splitContainerMainView_SplitterDistance" serializeAs="String">
				<value>0.75</value>
			</setting>
			<setting name="splitContainerMainTree_SplitterDistance" serializeAs="String">
				<value>0.15</value>
			</setting>
			<setting name="TextData" serializeAs="String">
				<value>Nincs</value>
			</setting>
			<setting name="TraceViewAutoScroll" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EnableSingleInstance" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MainFormWindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="MainFormSize" serializeAs="String">
				<value>851, 459</value>
			</setting>
			<setting name="MainFormLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="IsDeveloperMode" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="CurrentCultureName" serializeAs="String">
				<value>en-US</value>
			</setting>
			<setting name="BrowseLocation" serializeAs="String">
				<value>Set By First Start</value>
			</setting>
			<setting name="IsFirstStart" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowWorkingDirectoryInTitleBar" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SenderPanelHide" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="LoadProjectOnAppllicationStart" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="splitContainerLog_SplitterDistance" serializeAs="String">
				<value>0.23</value>
			</setting>
			<setting name="splitContainerStatistics_SplitterDistance" serializeAs="String">
				<value>0.25</value>
			</setting>
			<setting name="splitContainerLogDesciription_SplitterDistance" serializeAs="String">
				<value>0.15</value>
			</setting>
			<setting name="ApplictionSettingsUpgradeCounter" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="ApplictionSettingsSaveCounter" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="splitContainerTraceSender_SplitterDistance" serializeAs="String">
				<value>0.5</value>
			</setting>
			<setting name="KeyTracingEnable" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="GuiRefreshRateMs" serializeAs="String">
				<value>1000</value>
			</setting>
			<setting name="dataGridViewTraceRefreshRateMs" serializeAs="String">
				<value>250</value>
			</setting>
			<setting name="SenderThreadPriority" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="AdapterThreadPriority" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="SenderThreadSleepMs" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="dataGridViewStatisticsRefreshRateMs" serializeAs="String">
				<value>1000</value>
			</setting>
			<setting name="AppTraceScroll" serializeAs="String">
				<value>True</value>
			</setting>
		</Konvolucio.MCAN120803.GUI.Properties.Settings>
	</userSettings>
	<startup>
	</startup>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
